<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dead Man's Switch</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header>
    <nav class="width-limit">
        <p style="display:inline">
            <a href="/deadmansswitch"><div id="logo"> <img src="/img/logo.png" style="display:block" align="left" href="/deadmansswitch"></div></a>
            <div id="name" style="display:inline-block; padding-top: 20px; padding-left: 15px;">Dead Man's Switch</div>
            <div id="homebutton" style="float:right; padding-right: 25px; padding-top: 12px">
                <a href="/deadmansswitch"><button class="btn btn-primary">Home</button></a>
            </div>
        </p>
    </nav>
</header>
</body>

#parse($content)
<script src="js/bootstrap.min.js"></script>
<script src="js/sweetalert.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="https://buttons.github.io/buttons.js"></script>